#bk
{
    background-image: url('background1.jpg');
    background-size: cover;
}

#bk1
{
    background-image: url('cs1.jpg');
    background-size: cover;
    box-shadow: 5px 4px 20px black;
    border-radius: 10px;
}
